.main-wrapper {
    padding-block: 8em 12em;
}

.create-reviews-wrapper {
    width: 70em;
    background-color: silver;
    padding-block: 1em 4em;
    border-radius: 2em;
    position: relative;
    margin: 0 auto;
    display: none;
}

/* Tuka zapochva Formataaa */
.create-reviews-wrapper form.create-reviews-container {
    display: flex;
    gap: 4em;
    justify-content: center;
    padding-block: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url("./images/cartoon-tropical-island-landscape.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -1em;
}

.create-reviews-wrapper form.create-reviews-container label {
    margin: 0em 0em 4px 7px;
    color: #fefefe;
}

.create-reviews-wrapper>form>section {
    width: 30em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.create-reviews-wrapper .create-reviews-container input {
    /* width: 20em; */
    border-radius: 1em;
    border: 1.7px solid gray;
    color: rgb(9, 255, 9);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.create-reviews-wrapper .create-reviews-container input:focus {
    border: 1.7px solid gray;
}

button.create-review-button {
    position: absolute;
    bottom: 0.6em;
    padding: 0.5em 1.5em;
    border-radius: 1em;
    border: none;
    background-color: rgba(15, 244, 244, 0.5);
}

button.create-review-button:hover {
    background-color: unset;
    border: 0.3px solid gray;
    cursor: pointer;
}

img.wallper-image {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    object-fit: cover;
}

.all-reviews-wrapper {
    width: 70em;
    margin: 4em auto 0em auto;
    border-radius: 1em;
    height: auto;
}

.all-reviews-container {
    display: flex;
    flex-direction: column;
    gap: 5em;
}

button.make-review-button {
    position: fixed;
    left: 1em;
    bottom: 13.5em;
    padding: 0.6em 1.2em;
    border-radius: 1em;
    border: none;
    background-color: rgba(239, 178, 64, 0.8);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-style: oblique;
}

button.make-review-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

button.delete-review-button {
    position: fixed;
    left: 1em;
    bottom: 17.2em;
    padding: 0.6em 1.2em;
    border-radius: 1em;
    border: none;
    background-color: rgba(239, 178, 64, 0.8);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-style: oblique;
}

button.delete-review-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

button.update-review-button {
    position: fixed;
    left: 1em;
    bottom: 21em;
    border-radius: 1em;
    border: none;
    background-color: rgba(239, 178, 64, 0.8);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-style: oblique;
    padding: 0.6em 1.1em;
}

button.update-review-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.update-game-title-name {
    position: absolute;
    top: 0.7em;
    width: 20em;
}

.update-reviews-wrapper >  form.create-reviews-container {
  height: 40em;
  padding-top: 6em;  
}


/* CRUD OPERATIONS CONTAINER */
.crud-operations-container {
    display: none;
}

.show-crud-operations-button {
    position: fixed;
    bottom: 8.5em;
    left: 0.7em;
    padding: 0.6em 1.4em;
    background-color: rgba(21, 205, 211, 0.6);
    border-radius: 0.7em;
    border: none;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.8);
}

.show-crud-operations-button:hover {
    background-color: rgba(21, 205, 211, 9);
    cursor: pointer;
}