

.pagination-container {
    background-color: unset;
    width: auto;
    border-radius: 1em;
    display: flex;
    position: absolute;
    list-style-type: none;
    height: 0.8em;
    gap: 0.2em;
    z-index: 10;
    position: relative;
    font-size: 1.1em;
    position: relative;
    z-index: 16;
}

.pagination-container li {
    position: relative;
    z-index: 20;
    top: -1.5em;
    left: 25%;
    padding: 0.5em 1em;
    background-color: gray;
    color: #fff;
    margin-top: -2em;
    box-shadow: 0 0 10px 5px rgba(0, 0, 100, 0.5);
    border-radius: 0.6em;
}

.pagination-container li:hover {
    color: #000;
    cursor: pointer;
    text-shadow: 2px 2px 4px black;
}

.goTo-search-engine {
   
    z-index: 16;
    box-shadow: 0 0 10px 5px rgba(0, 0, 100, 0.5);
    border-radius: 50%;
}

.goTo-search-engine i {
    font-size: 1.5em;
    background-color: rgba(128, 128, 128, 0.7);
    color: #fff;
    border-radius: 50%;
    padding: 0.3em;
    cursor: pointer;
    position: absolute;
    bottom: 4em;
    left: 14em;
}


.goTo-search-engine i:hover {
    color: hsl(249, 85%, 40%);
}
