
select.filter {
    position: fixed;
    top: 11.2em;
    left: 1em;
    padding: 3px;
    font-size: 1.2em;
    border-radius: 0.5em;
    background-color: rgba(128, 128, 128, 0.6); 
    color: #000000d6;
    width: 10em;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    letter-spacing: 1.3px;
    font-weight: 550;
    text-shadow: 3px 3px 12px rgba(255, 255, 255, 0.9);
}

select.filter:hover {
    cursor: pointer;
}

select.filter:focus {
    border: none;
}

select.filter:focus-visible {
    border: none;
}

select.filter option {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fefefe8f;
    width: 8em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), 2px 2px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    
    font-style: italic;
    letter-spacing: 1px;
    font-weight: 400;
    cursor: pointer;
    background-color: none; */

    background-color: rgba(128, 128, 128, 0.4); 
    font-size: 1.25em;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1.5px;
}

select.filter option:hover {
    cursor: pointer;
}

input.choose-concrete-filter {
    position: fixed;
    width: 10em;
    height: 2.4em;
    left: 1.4em;
    top: 17em;
    border-radius: 2.3em;
    border: 1.5px solid #fefefec1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

input.choose-concrete-filter:focus  {
    border: 1.5px solid #fefefeda;
}

input.choose-concrete-filter::placeholder {
    color: #fefefec1;
    text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.9);
}

form.invisible-form {
    display: none;
}

.invisible-form i {
    position: fixed;
    top: 12.4em;
    left: 8.5em;
    z-index: 1;
    font-size: 1.4em;
    background-color: unset !important; 
    padding: 4px;
    border-radius: 1em;
}


.invisible-form i:hover {
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
