

select.filter {
    position: absolute;
    top: 15em;
    left: 1em;
    padding: 3px;
    font-size: 1.1em;
    border-radius: 0.5em;
    background-color: rgba(222, 184, 135, 0.6);
    color: #fefefe;
    width: 14em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), 2px 2px 4px rgba(0, 0, 0, 0.3);
}

select.filter:focus {
    border: none;
}

select.filter:focus-visible {
    border: none;
}


select.filter option {
    padding: 3px;
    background-color: rgba(222, 184, 135, 0.7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000a4;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), 2px 2px 4px rgba(0, 0, 0, 0.3);
}

input.choose-concrete-filter {
    position: absolute;
    width: 10em;
    height: 2.4em;
    left: 1.2em;
    top: 19em;
    border-radius: 2em;
    border: 0.5px solid #000000c5;
}

input.choose-concrete-filter:focus {
    border: 0.5px solid #000;
}

form.invisible-form {
    display: none;
}

input.input-image {
    position: absolute;
    top: 10em;
    left: 5em;
    z-index: 1;
    width: 3em;
}
