body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.game-details-wrapper {
    position: relative;
    z-index: 1;
    background-attachment: fixed;
    padding-top: 10em;
}

.content-main-container {
    width: 82em;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    padding-bottom: 7em;
    position: relative;
    z-index: 1;
    border-bottom-left-radius: 14em;
    border-bottom-right-radius: 14em;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0.65);
}

.game-details-wrapper {
    position: relative;
    z-index: 1;
    padding-top: 10em;
    opacity: 0; /* Първоначално скрит */
    transform: translateY(200px); /* Преместване надолу */
    animation: slideUp 1.5s forwards; /* Анимация при показване */
}

@keyframes slideUp {
    to {
        opacity: 1; /* Прозрачност на 1 */
        transform: translateY(0); /* Връща се в оригиналното си положение */
    }
}





.content-main-container {
    width: 82em;
    margin: 0 auto;
    padding-bottom: 7em;
    background-color: rgba(255, 255, 255, 0.6);
    /* border-radius: 14em; */

    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 1;
}

.navigate-to-trailer {
    margin: 0 auto;
    font-size: 4em;
    color: aqua;
    position: absolute;
    z-index: 100;
}

.game-details-video {
    position: fixed;
    /* Използвайте fixed, за да бъде фоновото видео независимо от скролиране */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    opacity: 0.65;
}