/* Задаване на стилове за фиксирания фон */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../images/playstation-games.jpg'); /* Сложи пътя до твоето фоново изображение */
    background-size: cover;
    background-position: center;
    z-index: -1; /* Фиксиран фон зад съдържанието */
}

/* Основни стилове за съдържанието */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

.content {
    position: relative;
    z-index: 1;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    gap: 10em;
}

h1 {
    text-align: center;
}

.game-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75em;
    margin: 2em auto;
    flex-wrap: wrap;
    gap: 2.3em;
    row-gap: 3em;
}

.game-item {
    width: 17em;
    height: 30em;
    border-radius: 20px;
    background: rgba(128, 128, 128, 0.5);
}

.game-item-image {
    width: 100%;
    height: 22em;
    border-radius: 12px;
    object-fit: cover;
}

.game-content {
    padding: 0.2em 0em 0em 0.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6em;
    position: relative;
}

.game-name {
    font-size: 1.55em;
    margin: 0 auto;
    color: #fefefe;
    font-weight: 500;
}

.game-button {
    padding: 0.4em 3.2em;
    border-radius: 6px;
    border: none;
    background-color: rgb(87, 87, 255);
    color: #fefefe;
    transition: background-color 0.5s ease-in-out;
}

.game-button:hover {
    background-color: unset;
    cursor: pointer;
    background-color: #000;
}

.game-price {
    position: absolute;
    left: 8px;
    bottom: 0px;
    font-size: 1.3em;
    color: rgba(255, 217, 0, 0.685);
    font-weight: 700;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.8);
}
