.game-item {
    width: 270px;
    min-height: 500px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.8);
    opacity: 0.0; /* Започва с нулева прозрачност */
    transform: translateY(20px); 
    transition: transform 0.5s ease, opacity 0.5s ease; /* Преходи за плавно движение */
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px) scale(0.8);
    }
    50% {
      opacity: 0.8;
      transform: translateY(10px) scale(1.1);
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
.game-item-image {
    width: 100%;
    height: 23em;
    border-radius: 8px;
    object-fit: cover;
}

.game-stars-image {
    width: 10em;
    border-radius: 6px;
}

.game-content {
    padding: 0.2em 0em 0em 0.4em;
    height: 9em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1em;
    position: relative;
    
}

.game-name {
    font-size: 1.55em;
    margin: -14px 0px 0px 4px;
    color: #fefefe;
    color: #000;
    border-bottom: 3px solid goldenrod;
    width: fit-content;
}

.game-button {
    padding: 0.5em 4em;
    border-radius: 6px;
    border: none;
    margin-top: -0.55em;
    background-color: rgb(87, 87, 255);
    align-self: center;
    color: #fefefe;
    transition: background-color 0.5s ease-in-out;
    text-decoration: none;
}

.game-button:hover {
    background-color: unset;
    cursor: pointer;
    background-color: #000;
}

.game-price {
    position: absolute;
    right: 7px;
    top: -1.80em;
    font-size: 1.4em;
    color: rgb(135, 188, 135);
    font-weight: 600;
    /* box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.8); */
}

#add-to-favourites {
    color: silver;
    position: absolute;
    right: 0.7em;
    bottom: 0.2em;
    font-size: 1.7em;
}

#add-to-favourites:hover {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); /* черна текстова сянка */
}