body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.game-details-wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url("../../../../../images/game-details-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 0.1em;
}

.content-main-container {
    width: 80em;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    padding-bottom: 7em;
    position: relative;
    z-index: 1; 
    border-bottom-left-radius: 14em;
    border-bottom-right-radius: 14em;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0.6); 
}

.navigate-to-trailer {
    margin: 0 auto;
    font-size: 4em;
    color: aqua;
    position: absolute;
    z-index: 100;
}
