body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.game-details-wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url("../../../../../images/game-details-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content-main-container {
    width: 80em;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    padding-bottom: 2em;
    position: relative;
    z-index: 1; 
}

.navigate-to-trailer {
    margin: 0 auto;
    font-size: 4em;
    color: aqua;
    position: absolute;
    z-index: 100;
}
