.chat-container-wrapper {
    position: fixed;
    bottom: 10em;
    right: 1.4em;
    width: 24.5em;
    height: 39em;
    border-radius: 0.8em;
    z-index: 17;
    animation: fadeInUp 0.5s ease-in-out;
    position: fixed;
    bottom: -1em;
    right: 1.4em;
    width: 24.5em;
    height: 39em;
    box-shadow: 4px 4px 10px black;
    height: fit-content;
    margin-bottom: 2em;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

.chat-container-wrapper.hide {
    animation: fadeOutDown 0.6s ease-in-out;
}

.messages-section {
    height: 31.1em;
    list-style-type: none;
    flex-direction: column;
    display: flex;
    gap: 1em;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-block: 0.8em;
}

input.message-text-container {
    background-color: unset;
    width: 21em;
    height: 2.7em;
    margin: 0.4em 0.5em 0.4em 0.5em;
    border-radius: 2em;
    border: 1px solid #ffffffb3;
    margin-top: 9px;
    margin-right: -1.3em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

input.message-text-container::placeholder {
    color: #ffffffb2;
}

input.message-text-container:focus {
    border: 1px solid #ffffffb3;
}

.myMessage-item {
    width: 9em;
    background-color: rgba(0, 132, 255, 0.6);
    border-radius: 1em;
    color: #fefefe;
    align-self: flex-end;
    margin: 0.2em 0.8em 0.3em 0em;
    font-size: 1.11em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    /* Лек черен text-shadow */
    padding: 8px 8px 8px 12px;
    letter-spacing: 1.2px;
    /* overflow: hidden;  */
    word-wrap: break-word; /* Разделя дълги думи за да не преливат */
    white-space: normal; /* Позволява пренасянето на нов ред */
}

.other-user-message-item {
    width: 9em;
    border-radius: 1em;
    color: #fefefe;
    background-color: rgba(212, 230, 209, 0.6);
    align-self: flex-start;
    margin: 0.2em 0em 0.3em 0.7em;
    font-size: 1.11em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    padding: 8px 8px 8px 12px;
    letter-spacing: 1.2px;
    word-wrap: break-word; /* Разделя дълги думи за да не преливат */
    white-space: normal; /* Позволява пренасянето на нов ред */
}

.send-message-button {
    padding: 0.14em 2em;
    font-size: 1em;
    align-self: center;
    border-radius: 0.5em;
    border: none;
    color: #fff;
    width: 6em;
    height: 3em;
    display: block;
    border-radius: 2em;
    object-fit: cover;
    margin-right: -1.1em;
}

.send-message-button:hover {
    cursor: pointer;
    text-shadow: 2px 2px 4px blue;
}

.chat-form {
    display: flex;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.842);
    height: 3.8em;
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
}

.username-and-avatar {
    background-color: #ffffff93;
    /* Светло сив с 50% прозрачност */
    height: 3.4em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    display: flex;
    gap: 0.8em;
}

.current-friend-img {
    width: 3em;
    height: 3em;
    margin-left: 0.5em;
    border-radius: 50%;
    margin-top: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}

.username-title {
    margin-top: 1px;
    font-weight: 250;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1.2px;
    font-size: 1.4em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.online-label {
    position: absolute;
    top: 2.32em;
    left: 5em;
    font-weight: 450;
    font-size: 0.9em;
    color: gray;
}

.online-image {
    width: 0.6em;
    height: 0.6em;
    position: absolute;
    top: 2.5em;
    left: 7.87em;
}

.back-to-users-list {
    width: 2em;
    height: 2em;
    object-fit: cover;
    position: absolute;
    z-index: 20;
    right: 0.4em;
    top: 0.7em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    /* Черна сянка */
    border-radius: 2em;
}

.back-to-users-list:hover {
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}


.messages-section .user-avatar-image {
    width: 2em;
}

.show-users-list-img {
    position: absolute;
    right: 30em;
    z-index: 2;
    top: 30em;
    width: 20em;
    height: 20em;
    z-index: 43;
}


/* FOR IMAGE MESSAGES: */

/* Wrapper: */
div.img-message-wrapper-container {
    width: 10em;
    height: 10em; 
    margin-left: 13em;
    border-radius: 1em;
    position: relative;
}

img.my-img-message {
    width: 100%;
    height: 100%; 
    object-fit: cover;   
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
}

img.my-img-message:hover {
    cursor: pointer;
    /* opacity: 0.9; */
    box-shadow: 12px 12px 30px rgba(0, 0, 0, 0.9); /* много силна черна сянка */
}


div.other-img-message-wrapper-container {
    width: 10em;
    height: 10em; 
    border-radius: 1em;
    position: relative;
}

img.other-user-img-message {
    width: 10em;
    height: 7em;
    object-fit: cover;   
    border-radius: 1em;
    margin-left: 0.8em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

img.other-user-img-message:hover {
    cursor: pointer;
    /* opacity: 0.9; */
    box-shadow: 12px 12px 30px rgba(0, 0, 0, 0.9); /* много силна черна сянка */
}



/* Ne znam tova dali se izpolzva nqkude, neka vidq kogato imam vreme: */
/* HIDDEN TAG In Img Message: */

div.hidden-tag-in-img-messages {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}

div.hidden-tag-in-img-messages button {
    background-color: blue;
    width: 4em;
    height: 1.7em;
    border-radius: 0.5em;
    color: #fff;
    border: none;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
}

div.hidden-tag-in-img-messages button:hover {
    background-color: unset;
}

.message-section-wallper-video { 
    height: 438.6px;
    margin-top: 3.39em;
    width: 340px;
    object-fit: cover;
    position: absolute;
    background-size: cover;
    top: 2em;
    z-index: -2;
    top: 0;
}

p.shadow {
    position: absolute;
    top: 3.3em;
    width: 100%;
    height: 82%;
    background-color: #0000008f;
    z-index: -1;
}


/* Options: */

#options {
    position: absolute;
    top: 0.45em;
    right: 1.92em;
    font-size: 1.6em;
    padding: 3px;
    border-radius: 1em;
}

#options:hover {
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}


.options-div-container {
    position: absolute;
    z-index: 20;
    background-color: rgba(192, 192, 192, 0.87);
    top: 4em;
    right: 3.9em;
    padding: 4px;
    border-radius: 0.4em;
    display: none;
}

.options-div-container h4 {
    border-radius: 0.7em;
    padding-inline: 5px;
    padding-block: 2px;
}


.options-div-container > h4:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #000000d2;
    color: white;
    cursor: pointer;
    
}

.all-background-videos-container {
    position: absolute;
    top: -3.8em;
    z-index: 20;
    display: none;
    gap: 1em;
    background-color: #fefefea7;
    min-width: 24.2em;
    border-radius: 1em;
    padding: 3px 0px 4px 8px;
}


.all-background-videos-container img {
    width: 3em;
    height: 3em;
    object-fit: cover;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

.all-background-videos-container img:hover {
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0, 0, 255, 0.4);
}

.blocked-user-container {
    position: absolute;
    z-index: 10;
    background-color: #fefefec5;
    width: 97.5%;
    text-align: center;
    padding-block: 2px;
    display: none;
    text-shadow: 2px 2px 4px white;
}

.blocked-user-container h2 {
    color: rgba(255, 0, 0, 0.607);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.pillar {
    position: absolute;
    height: 2.1em;
    width: 10px;
    top: 3.1em;
    right: 3.9em;
    background-color: rgba(192, 192, 192, 0.87);
    z-index: 1;
    border-radius: 3em;
    display: none;
}
