.create-game-container {
    position: fixed;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(255, 255, 255, 0.1); */
    background-image: url("../../../../../../DiscoverPage/resources/images/woman1.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    z-index: 6;
    width: 42em;
    height: 51em;
    padding: 1.1em 1.7em 0.4em 1.7em;
    border-radius: 1em;
    display: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 255, 0.6);
    animation: fadeIn 0.4s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }
}

.fade-out {
    animation: fadeOut 0.4s ease-in-out forwards;
}

.create-game-container form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.3em;
    z-index: 1;
    font-weight: bold;
    margin-bottom: -1em;
    border-radius: 8px;
}

.create-game-container form input {
    border: 2px solid gray;
    color: rgba(133, 255, 122, 1);
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 1em;
    border: none;
}

.create-game-container form label {
    width: fit-content;
    letter-spacing: 1px;
    color: rgba(133, 255, 122, 1);
    background-color: gray;
    font-weight: 600;
    padding-inline: 6px;
    border-radius: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: oblique;
    letter-spacing: 1px;
}

.create-game-container form div textarea {
    width: 100%;
    height: 10em;
    resize: none;
    padding: 0.3em 0em 0em 0.3em;
    background-color: unset;
    border: 1px solid #000;
    
    border: 1px solid #fefefe;
    color: rgba(133, 255, 122, 1);
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 1em;
    border: none;
    font-size: 1.1em;
}

.create-game-container form div textarea:focus {
    border-color: rgba(133, 255, 122, 1);
}

.create-game-container form > div {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.create-game-container form button {
    align-self: center;
    padding: 0.7em 2em;
    border-radius: 8px;
    border: none;
    background-color: darkcyan;
    cursor: pointer;
    color: #fefefe;
}

.create-game-container form button:hover {
    background-color: rgba(0, 0, 255, 0.6);
}

.lets-goo-image {
    position: absolute;
    width: 9em;
    object-fit: cover;
    right: 15em;
    top: 2px;
}

.x-button {
    align-self: flex-end;
    background-color: red;
    margin-bottom: -1.2em;
    padding: 0.3em 0.5em;
    cursor: pointer;
    font-weight: 700;
}

.show-game-create {
    position: fixed;
    z-index: 5;
    bottom: 17.8em;
    left: 1.4em;
    padding: 0.69em 1.1em;
    border-radius: 1em;
    border: none;
    color: #fff;
    font-weight: 100;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(243, 113, 46, 0.89);
    font-style: oblique;
    letter-spacing: 0.3px;
}

.show-game-create:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.85);
}