div.big-image-wrapper {
    position: fixed;
    background-color: #000000d9;
    width: 100vw;
    height: 100vh; /* for sure!*/
    opacity: 1;
    z-index: 30;
    display: none;
}

.big-image {
    width: 70em;
    height: 40em;
    position: absolute;
    z-index: 31;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    object-fit: cover;
    background-color: unset;
    animation: slideInFromRight 0.8s ease-out forwards; /* Добави анимацията */
    opacity: 0; /* Скриваме елемента по подразбиране */
}

@keyframes slideInFromRight {
    from {
        transform: translate(100%, -50%); /* Започва отдясно извън екрана */
        opacity: 0; /* Започва скрит */
    }
    to {
        transform: translate(-50%, -50%); /* Премества се в центъра */
        opacity: 1; /* Показва се */
    }
}

