
.site-header {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 7em;
    display: flex;
    justify-content: space-between;
    top: 0em;
    margin-bottom: 10em;
}

header.site-header > * {
    height: 100%;
}

.logo-data-wrapper {
    width: 14em;
    display: flex;
    align-items: center;
    gap: 2em;
    margin-left: 2em;
    position: relative;
    margin-top: -0.6em;
}

.logo-data-wrapper img {
    height: 5em;
    width: 5em;
    border-radius: 50%;
    object-fit: cover;
    transform: scale(1.2);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 1);
}

.header-nav {
    display: flex;
    gap: 4em;
    align-items: flex-start;
    margin: 2em 0em 0em 1em;
}

div.logo-data-wrapper h1.site-title {
    align-self: flex-start;
    color: #FFF;
    font-style: oblique;
    font-size: 1.8em;
    text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8);
}

.logo-data-wrapper .site-title:hover {
    color: #646cff;
    cursor: default;
}

.logo-data-wrapper .title-border {
    position: absolute;
    background-color: #FFF;
    height: 2px;
    width: 10.3em;
    top: 4.7em;
    left: 8.10em;
    border-radius: 8px;
}

.logo-data-wrapper .title-border:hover {
    background-color: #646cff;
}

.header-nav a {
    text-decoration: none;
    color: #000;
    font-size: 1.05em;
    letter-spacing: 1.1px;
    color: #fefefe;
    font-weight: 900;
}

.header-nav a:hover {
    color: #646cff;
}

.header-nav > * {
    display: flex;
    gap: 1em;
}

.header-nav ul:nth-of-type(2) {
    margin-right: 3em;
}