.game-details-container {
    display: flex;
    width: 100%;
    background-color: #fff;
    border-radius: 0.9em;
    padding-top: 0.1em;
    background-color: rgba(255, 255, 255, 0); 
    /* margin-top: 4em; */
}

.game-details-container > img {
    min-width: 25em;
    height: 32em;
    object-fit: cover;
    border-radius: 1em;
}

.game-details-container .game-content {
    padding: 1em 0.5em 0em 1em;
}

.game-details-container .game-content .game-stars {
    width: 10em;
    margin-left: -0.7em;
}

.game-details-container .game-content .game-title {
    font-size: 2em;
}

.stars-wrapper {
    display: flex;
}

.stars-wrapper > span {
    /* padding-top: 0.38em; */
    margin-left: 0.5em;
}

.stars-wrapper > div {
    display: flex;
    gap: 0.3em;
}

.additional-info {
    display: flex;
    min-width: 33em;
    gap: 2em;
    margin: 0.4em 0em 0em 0.3em;
    padding-bottom: 1em;
    border-bottom: 1px solid gray;
}

.additional-info > ul {
    list-style-type: none;
}

.additional-info > ul li {
    font-size: 1.25em;
}

.first-sales-info {
    display: flex;
    gap: 9.6em;
    margin: 0.5em 0em 0.5em 0.8em;
}

.first-sales-info > section {
    display: flex;
    gap: 1.5em;
}

.first-sales-info > section > * {
    font-size: 1.2em;
}

.first-sales-info > section i {
    font-size: 1.6em;
}

.first-sales-info > section > i:nth-of-type(2) {
    background-color: silver;
    padding: 0.3em;
    border-radius: 50%;
    font-size: 1.2em;
}

.first-sales-info > p {
    font-size: 1.17em;
    margin: 0.1em 0em 0em 0.8em;
}

.second-sales-info {
    display: flex;
    gap: 3em;
    margin-left: 0.7em;
}

.second-sales-info > section {
    display: flex;
    gap: 1em;
}

.second-sales-info > section > p {
    font-size: 1.2em;
}

.second-sales-info > section > i {
    padding-top: 0.4em;
}

.second-sales-info > p {
    border-bottom: 1px solid #000;
    font-size: 1.1em;
}

.second-sales-info > p .special-color {
   color: #F6A445; 
}

.info-under-the-truck-icon {
    width: 38.1em;
    font-size: 0.95em;
    margin-block: 1em 0.5em;
    line-height: 1.9;
}

.our-shops-places {
    display: flex;
    gap: 10.4em;
    background-color: #000000;
    height: 3em;
    align-items: center ;
    padding-left: 1.4em;
    border-bottom: 5px solid #F3712E;
    cursor: pointer;
    margin-top: 2.95em;
    width: 35em;
    border-radius: 8px;
}

.our-shops-places i {
    color: #fff;
    font-size: 1.39em;
}

.our-shops-places p {
    color: #FFF;
    font-size: 1.06em; 
    letter-spacing: 1px;
}

.our-shops-places p span {
    color: #F35F12;
}

ul.our-shops-container {
    list-style-type: none;
    flex-direction: column;
    display: none;
    width: 35em;
}

ul.our-shops-container li {
    padding: 3px;
    text-align: center;
}

ul.our-shops-container li:nth-of-type(even) {
    background-color: #F5F5F5;
}

.showShopsContainerTitle {
    display: none;
    padding: 2px;
    font-size: 1em;
    text-align: center;
    color: #fff;
    background-color: #000000;
    width: 35em;
    border-radius: 4px;
}

.game-price-container {
    display: flex;
    align-items: center;
    gap: 1.7em;
    flex-direction: column;
    height: 22.5em;
    background-color: #F5F5F5;
    width: 100%;
    padding-top: 1em;
    border-radius: 5px;
    margin-top: 0.2em;
    border-top-right-radius: 0.8em;
}

.game-price-container p:first-of-type {
    font-size: 0.9em;
    margin-top: 0.5em;
    letter-spacing: 1px;
}

.game-price-container p:not(:first-of-type) {
    letter-spacing: 0.4px;
}

.game-price-container p:last-of-type {
    color: #FF5700;
}

.game-price-container .price {
    font-size: 2.4em;
    color: green;
}

.game-price-container .buy-button {
    width: 11em;
    height: 2.8em;
    border-radius: 4px;
    border: none;
    background-color: #ff5700;
    transition: background-color 0.5s ease;
    color: #fff;
}

.game-price-container .buy-button:hover {
    background-color: #FF9211;
    cursor: pointer;
}

div .add-to-favorites-container {
    margin-top: 0.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
    min-width: 17em;
    height: 8.6em;
    justify-content: center;
    gap: 1em;
    border-radius: 5px;
    border-bottom-right-radius: 0.7em;
}

div.game-price-wrapper {
    background-color: rgba(255, 255, 255, 0);
    margin-left: 1.9em;
    width: 18.1em;
    
}

.goTo-comment-section{
    position: fixed;
    top: 10em;
    right: 3.8em;
    z-index: 16;
    scroll-behavior: smooth;
    box-shadow: 0 0 10px 5px rgba(0, 0, 100, 0.5);
    border-radius: 50%;
}

.goTo-comment-section i {
    font-size: 1.7em;
    /* background-color: rgba(255, 165, 0, 0.7); */
    background-color: unset;
    border-radius: 50%;
    padding: 0.3em;
    color: #fff;
    cursor: pointer;
}

.goTo-comment-section i:hover {
    color: #000;
}