@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.register-page-container {
    background-color: #000;
    position: relative;
}

html {
    font: 14px/1.5 Lato, Verdana, Arial, sans-serif;
}

.video-bkg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/7.77;
    margin-bottom: -1em;
}

@media (min-aspect-ratio: 16/8) {
    .video-bkg {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-bkg {
        width: auto;
        height: 100%;
    }
}

.sign-up-option {
    color: #85FF7A;
    font-style: oblique;
    text-decoration: underline;
}

.sign-up-option:hover {
    color: #fefefe;
    cursor: pointer;
}

.phone-icon {
    color: #85FF7A;
}

.phone-input {
    border-radius: 0.4em;
    background-color: transparent;
    color: rgba(133, 255, 122, 1);
    border: 2px solid rgba(44, 63, 82, 1);
}

input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            -moz-appearance: textfield;
        }
        

.register-page-container,
input,
textarea,
button {
    font: inherit;
}

fieldset {
    padding: 1em 1.5em;
    border: 2px solid rgb(44, 63, 82);
    border-radius: 0.2em;
    margin: 0 0 1em 0;
}

/* MY BORDERS: */
/* fieldset {
    padding: 1em 1.5em;
    border: 1px solid #000;
    border-radius: 0.2em;
    margin: 0 0 1em 0;
} */

legend {
    padding: 0.5em;
    margin-left: -0.5em;
    color: rgba(255, 255, 255, 0.8);
}

label,
input {
    display: block;
    width: 100%;
}

input {
    outline: none;
    padding: 0.6em 0.8em;
}

input[type="submit"] {
    padding: 0.8em 0.8em;
    background-color: rgba(21, 32, 42, 1);
    border: none;
    border-radius: 0.4em;
    color: rgba(133, 255, 122, 1);
    margin-block: 0.6em -0.4em;
    /* margin-top: 2em; */
    cursor: pointer;
    transition: background-color 300ms;
    font-size: 1.1em;
}

input[type="submit"]:hover {
    background-color: rgba(133, 255, 122, 1);
    color: rgba(21, 32, 42, 1);
}

input:is([type="text"], [type="email"], [type="password"], [type="number"]){
    border: 2px solid rgba(44, 63, 82, 1);
    /* border: 0.2px solid #000; */
    border-radius: 0.4em;
    background-color: transparent;
    color:#fefefe;

    &:focus {
        border-color: rgba(133, 255, 122, 1);

        &~label {
            color: rgba(133, 255, 122, 1);
        }

        &~i {
            border-color: rgba(133, 255, 122, 1);
            background-color: rgba(133, 255, 122, 1);
            color: rgba(44, 63, 82, 1);
        }
    }

    &.invalid {
        border-color: red;

        &~label {
            color: red;
        }

        &~i {
            border-color: red;
            background-color: red;
            color: rgba(44, 63, 82, 1);
        }
    }
}

.register {
    max-width: 460px;
    margin: 0 auto;
    padding: 1.9em;
    background-color: rgba(255, 255, 255, 0.1);
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9); */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 1);
    border-radius: 0.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.register .other {
    padding: 2.2em 2.2em;
}

.register .header {
    position: relative;
    padding: 2em 0;
    margin-bottom: 2em;
}

.register .header::before {
    position: absolute;
    inset: 0;
    display: block;
    content: "";
    background-color: rgb(0, 0, 0, 0.2);
    padding: 2em;
    transform: perspective(60px) rotateX(-2deg) rotateY(-1deg) translateX(-0.3em);
}

.register .header h1 {
    text-align: center;
    z-index: 1000;
    color: rgba(133, 255, 122, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.1em;
    font-weight: 500; 
    font-style: oblique;
}

.field {
    padding-bottom: 0.6em;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.field label {
    color: rgba(133, 255, 122, 0.5);
    order: -1;
}

.field i {
    display: flex;
    align-items: center;
    padding: 0 1em;
    color: rgba(133, 255, 122, 1);
    border: 1px solid rgba(44, 63, 82, 1);
    /* border: 1px solid #000; */
    border-radius: 0.4em;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.field input {
    width: auto;
    flex: 1 0 auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.field .helper {
    display: block;
    flex: 0 0 100%;
    color: #fefefe;
    font-style: italic;
    opacity: 0.7;
    order: 20;

    &.error {
        display: none;
        color: red;
    }
}

.field input.invalid~.helper.error {
    display: block;

    &~.helper {
        display: none;
    }
}