.all-characteristics-title {
    margin-block: 3.4em 2em;
    font-size: 2.7em;
    width: 100%;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    font-weight: 600;
    background-color: #FF5700;
    font-style: oblique;
}

.characteristics-container {
    display: flex;
    gap: 2em;
    justify-content: center;
    width: 100%;
    border-radius: 8px;
   
}

.characteristics-container > * {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

.characteristics-container .row-container {
    display: flex;
    gap: 5em;
    padding: 0.7em 1em 0.7em 1em;
    width: 37em;
    text-align: center;
}

.characteristics-container .row-container:nth-of-type(odd) {
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-around;
}

.characteristics-container .row-container:nth-of-type(even) {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
}

.characteristics-container .row-container > * {
    width: 47%;
    align-self: center;
}

.characteristics-container .row-container > p:first-of-type {
    font-size: 1.11em;
}

.characteristics-container .row-container:first-of-type {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.characteristics-container .row-container:last-of-type {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
